body {
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: auto;
  background: linear-gradient(
    to left,
    rgb(179, 179, 236) 0%,
    rgba(177, 222, 241, 0.575) 50%,
    #a7efff9e 50%,
    #b8eef9f0 5%,
    #bae9f3 95%
  );
  font-family: arial, sans-serif;
}

.header {
  color: #ffffff;
  margin-top: 5px;
  padding: 60px;
  text-align: center;
  background: rgba(164, 212, 223, 45%);
  border-radius: 5px;
}

.line {
  border-top: 2px groove #1c6ea4;
}

.cuadro {
  border-radius: 25px;
  border: 3px solid #274c77;
  padding: 5px;
  height: auto;
  width: 40%;
  margin-top: 10px;
  size: 4px;
  margin-bottom: 10px;
}

.img {
  float: left;
  border-radius: 5%;
  border: black;
  padding-left: 1px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 1px;
}

.info {
  text-align: center;
}

.imgtxt {
  align-items: center;
}

#opacity {
  opacity: 0.5;
}

.txt-border {
  background: rgba(28, 110, 164, 0.32);
  border-radius: 25px;
}

.pmarg {
  margin-top: -10px;
}

.uppmarg {
  margin-top: 9px;
}

.subray {
  text-decoration: 1px underline solid #3f4548;
}

.sombras {
  text-shadow: 1px 1px 0px rgba(28, 110, 164, 0.35);
  color: #25466c;
}

.text-lg {
  font-size: large;
}

.badge {
  margin: 4px 2px;
  background-color: #1d3557;
  padding: 7px 10px;
  border-radius: 5px;
  color: #f5f5f5;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .cuadro {
    text-align: center;
    width: auto;
    margin-top: 35px;
    margin-bottom: 45px;
    padding-bottom: 27px;
  }

  body {
    width: auto;
    height: auto;
    background: linear-gradient(
      135deg,
      rgb(179, 179, 236) 0%,
      rgba(177, 222, 241, 0.575) 50%,
      #a7efff9e 50%,
      #b8eef9f0 5%,
      #bae9f3 95%
    );
  }

  .img {
    float: left;
    border-radius: 5%;
    border: black;
    padding-left: 1px;
    padding-top: 17px;
    padding-right: 0px;
    padding-bottom: 5px;
  }

  .imgtxt {
    text-align: right;
    padding-left: 0;
    padding-right: 15px;
    padding-top: 6px;
  }
}

@media only screen and (min-width: 899px) {
  #centrhead {
    text-align: center;
  }

  .header {
    padding: 45px 45px margin 20px 20px;
    display: inline-block;
    border: #1d3557 1px;
    border-radius: 5px;
  }

  .cuadro {
    margin-top: 42px;
    margin-left: 37px;
    margin-bottom: 60px;
    padding-bottom: 25px;
  }

  .img {
    float: left;
    border-radius: 15px;
  }

  #hidhd {
    display: none;
  }
}
